{% extends 'gestionApp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- {% load static %}

    NO ES NECESARIO COLOCAR ESTO SI LA BASE YA LO TIENE Y PUES EN EL ESTILO DE BASE SE HACE MENCION
    A CADA UNA DE LAS CLASES DE LAS HIJAS (NO SE SI SEA BUENA PRACTICA CREO QUE SI PORQUE NO SE
    SI FUNCIONA DE OTRA FORMA)

    <link rel="stylesheet" href="{% static 'proyectowebApp/css/inicio.css' %}"> -->

    <title>{% block title %} Buscar {% endblock %}</title>
</head>
<body>
{% block content %}

    {% if formulario.errors %}

    <p style="color: greenyellow;">Escribe bien la infrmacion</p>

    {% endif %}

    <form action="/encuentra/" method="get">
        <fieldset>

            <legend>Buscar en la Base de datos</legend>
            <table>

                {{formulario.as_table}}

            </table>

            <input class="boton_buscar" type="submit" value="Enviar">
        </fieldset>

    </form>
    
{% endblock %}
</body>
</html>