{% extends 'gestionApp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'proyectowebApp/css/inicio.css' %}">
    <title>{% block title %}Contacto{% endblock%}</title>
</head>
<body>

    {% block content %}

        <form action="" method="post">{% csrf_token %}

            <fieldset>

                <legend>Contacta al Creador de la Pagina</legend>

                {{formulario.as_p}}

                <input type="submit" value="Enviar" class="boton_enviar">


            </fieldset>

            

        </form>

    {% endblock %}
    
</body>
</html>