{% extends 'gestionApp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Encuentra{% endblock %}</title>
</head>
<body>
{% block content %}

    <h1>Encontrado</h1>

    <p>Hemos encontrado a {{introducido}}. <strong>Estado: {{tabla}}</strong></p>

    <ul>

        {% for i in encontrado %}

            <li>{{i}}</li>

        {% endfor %}
    </ul>
    
{% endblock %}  
</body>
</html>