<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" href="{% static 'proyectowebApp/css/paleta.css' %}">
    <title></title>
</head>
<body>
    
    <ul class="ul_paleta">

        <li class="li_paleta"><a href="/">Inicio</a></li>
        <li class="li_paleta"><a href="/buscar/">Buscar</a></li>
        <li class="li_paleta"><a href="/contacto/">Contacto</a></li>

        
    </ul>


</body>
</html>