.ul_paleta{

    display: flex;
    margin: auto;
    margin: 1em;
    list-style: none;
    margin-bottom: 1em;
    height: 70%;
    background-color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 20px 0 #000000;

}

.li_paleta{

    margin-left: 1em;
    margin: auto;
    padding: 0.5em;

    
}

a{

    color: #a22;
    text-decoration: none;
    text-shadow: 0 0 1em #000000;
    
}
a:hover{

    color: rgb(43, 87, 46);
    text-decoration: none;
    box-shadow: 0 0 4px 0 #222;
    padding: 5px;
}