body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(239, 244, 239);
}
.bordes{
    padding: 50px;
}
p{
    text-align: justify;
    margin: 30px;
}
h2{
    font-weight: 1000;
    font-size: 2em;
    letter-spacing: -1px;
    margin: 30px;
}
h3{
    margin: 30px;
}
.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3cm;
}

.tituloprincipal{
    text-align: center;
    font-size: 60px;
    color: green;
}

.identada{
    padding-left: 15px;
    text-align: justify;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; /* Muestra los elementos uno al lado del otro */
    margin-right: 50px; /* Añade un espacio entre los elementos */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #000;
}


.subtitulo1{
    background-color: rgba(6, 84, 6, 0.945);
    width: 100%;
    display: inline-block;
    color: white;
}

.left-div, .right-div{
    float: left;
    width: 50%;
    align-items: center;
    margin: 0;
    padding: 0;
}


.cundinamarca{
    margin: 50px;
    
}
.cundinamarca img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#zona1{
    border-color: #000;
    fill: rgb(17, 187, 17);
    stroke: #000;
}
#zona1:hover{
    fill: rgb(8, 90, 8);
}


.gallery {
    position: relative;
    width: 400px; /* Ajusta el ancho según sea necesario */
    height: 400px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}
.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Oculta todas las imágenes excepto la primera */
    transition: opacity 0.5s ease-in-out; /* Agrega una transición suave */
}
  
.gallery img:first-child {
    opacity: 1; /* Muestra la primera imagen */
}


.gallery-container {
    display: flex;
    align-items: center;
    background-color: rgb(243, 233, 221);
    border: 2px solid #000; /* 2px de ancho, sólido y color negro */
    padding: 20px;
}
  
.gallery {
    flex: 1;
}
  
.text-container {
    flex: 1;
}
  
.text-container p {
    font-size: 16px;
    line-height: 1.5;
}

.mapas-contenedoresB {
    display: flex;
}

.sitios-boyaca,
.mapa-regiones-boyaca {
    flex: 1;
    margin-right: 10px; /* Ajusta el margen entre las imágenes según sea necesario */
}

.sitios-boyaca svg,
.mapa-regiones-boyaca img {
    max-width: 90%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto;
}
.boyaca{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;  /* Centra el texto en las celdas */
}
img {
    display: block;  /* Hace que la imagen sea un bloque */
    margin-left: auto;  /* Ajusta el margen izquierdo automáticamente */
    margin-right: auto;  /* Ajusta el margen derecho automáticamente */
}

